.App {
  text-align: center;
}

.Main {
  display: flex;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid blue;
}

.SearchArea {
  border: 5px solid red;
  width: 30%;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.SearchBar {
  border: 5px dashed lightcoral;
}

.Result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.Result > img {
  width: 25%;
  height: 25%;
}

.MovieTable {
  border: 5px solid green;
  width: 70%;
}

.Movie {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

.Movie > img {
  width: 8%;
  height: 8%;
}

.CategoryList {
  display: flex;
  justify-content: space-evenly;
  border: 5px dashed lightgreen;
}