.App {
  text-align: center;
}

.Main {
  display: flex;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid blue; */
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,31,31,1) 40%, rgba(252,176,69,1) 100%);
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
  color: white;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.SearchArea {
  border: 2px solid black;
  width: 30%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding: 3px;
}

.SearchBar {
  /* border: 5px dashed lightcoral; */
  display: flex;
  justify-content: space-around;
}

.Result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.Result > img {
  width: 25%;
  height: 25%;
}

.MovieTable {
  border: 2px solid black;
  width: 70%;
}

.Movie {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

.Movie > img {
  width: 8%;
  height: 8%;
}

.CategoryList {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  /* border: 5px dashed lightgreen; */
}